html {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
}

a {
    color: inherit; 
    text-decoration: inherit;
}
  
body {
    width: 100vw;
    background-color: #44AC42;
    color: white;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
}

.headder-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.title-homepage{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 24px;
}

.article {
    width: 80%;
    margin-bottom: 50px;
    height: 500px;
}

.article-image {
   height: 60%;
   object-fit: contain
}

.article-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-texte {
    height: 40%;
    background-color: #816464;
}

.article-texte > h3{
    margin: 0
}

/* .article-texte  * h3 {
    background-color: aqua;
} */

.article-texte * h3 {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 24px;
margin: 0;
}

.article-texte * p {
    font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.main-head {
    align-items: center;
    background: #816464;
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}
